.card3D{
    box-shadow: -10px 0px 15px 0px rgba(18, 18, 19, 0.336);
}
.card-header{
    background-color: #94bdf1;
}
.card-body{
    background-color: #eff3fa;
}
.card-inner-body{
    background-color: #e0e8f7;
    padding: 1em;
}
.card-question{
    margin: 1em;
    padding: 1em;
}
.card-title{
    font-weight: bold;
}
#th, #tf
{
    display: block;
    width: 100%;
    background-color: #cfe1f8;
    border-radius: .3em;margin-top: 0;
}
#tb
{
    display: block;
    width: 100%;
}
/* .table .tbody 
{
   overflow-y: auto;
   overflow-x: hidden;
   height: 500px;
} */

#user-filter{
    border-radius: .3em;
}

#tr{
    width: 100%;  
    /* border: 2px dashed #f69c55; margin: 0; */
}
/* =================================================================== */
.row{
    padding: .1em 2em;
    margin: .1em;
    border-radius: .3em;
    /* border: 2px dashed #f69c55;  */
}
.radio-button{
    width: 2em;;
}
/* .col1{
    padding: .1em 0 .1em 0;
    margin: .1em 0 .1em 0;
    border: 2px dashed #e61e2e; 
}
.label1{
    padding: .1em 0 .1em 0;
    margin: .1em 0 .1em 0;
    height: 1.1em;
    border: 2px dashed #0dac0d; 
} */
.span1{
    /* padding: .1em 0 .1em 0; */
    margin-right: 2em;
    /* border: 2px dashed #221f1f;  */
}

.con{
    padding: .1em 0 .1em 0;
    margin: .1em 0 .1em 0;
    border-radius: .3em;
    /* border: 2px dashed #3149ce;  */
}
.con-question{
    background-color: #b8cdf5;
    padding: .1em 0 .1em 0 ;
    margin: .1em 0 .1em 0;
    border-radius: .3em;
    border: 2px black;
    /* box-shadow: -10px 0px 15px 0px rgba(18, 18, 19, 0.336); */
}
.text{
    font-size: small;
    font-weight: 10;
    background-color: #eef2f8;
    padding: .1em;
    margin-bottom: 1em;
    border-radius: .3em;
    text-align: right;

    /* border: 2px dashed #3149ce;  */

}
.select{
    background-color: #eaeff8;
    border-radius: .3em;
}