.card{
    background-color: #acd2f8;
    opacity: .6;
    box-shadow: -10px 0px 15px 0px rgba(0, 0, 0, .25);
    /* width: 15m; */
}
.card-header{
    background-color: #479cf7;
}
.button{
    background-color: #4461e6;
    color: #e8eff7;
    text-align: center;
    border-radius: .3em;
    padding:auto;

}

.row{
    margin-top: 5em;;
}