/* #card1 {float:right; width: 100%; border-radius: .3em; background-color: #cedff0; margin-top: 1em; min-height:100%;}
#card-header1 {border-radius: .3em; background-color: #9db4cf; margin-bottom: 0;}

#thead, #tfoot
{
    display: block;
    width: 100%;
    color:aliceblue;
    background-color: #567599;
    border-radius: .3em;margin-top: 0;
    padding: 0;
}
#tbody
{
    display: block;
    width: 100%;
}

.table .tbody 
{
   overflow-y: auto;
   overflow-x: hidden;
   height: 500px;
}

#permission-filter{
    border-radius: .3em;
}

#tr{
    width: 100%;  border: 2px dashed #f69c55; margin: 0;
} */

/* className="table" */