.card3D{
    box-shadow: -10px 0px 15px 0px rgba(18, 18, 19, 0.336);
    border-radius: .3em;
}
.card-header{
    background-color: #94bdf1;
}
.modal-body{
    background-color: #eff3fa;
}
.card-title{
    font-weight: bold;
}
.card-body{
    background-color: #eff3fa;
}

#th, #tf
{
    display: block;
    width: 100%;
    background-color: #cfe1f8;
}
#th1, #tf1
{
    display: block;
    width: 100%;
    background-color: #cfe1f8;
}
#tb
{
    display: block;
    width: 100%;
}
#tr{
    width: 100%;  
}
table tbody 
{
   /* overflow: auto; */
   overflow-y: auto;
   overflow-x: hidden;
   height: 500px;
}

#user-filter{
    border-radius: .3em;
}

     /* border: 2px dashed #8f1257; */
