@media print {
    body {
       -webkit-print-color-adjust: exact;
    }
 }

.card3D{
    box-shadow: -10px 0px 15px 0px rgba(18, 18, 19, 0.336);
    border-radius: .3em;
    background-color: #eff3fa !important;
}

.card-header{
    background-color: #94bdf1 !important;
}


.body{
    color: rgb(53, 9, 9) !important;
}

tr:nth-child(even) {
    background-color: rgb(220, 230, 247) !important;
    }

   /* tr:nth-child(even) {
    background-color: lightpink !important;
    } */

    th {
       background-color: rgb(172, 208, 240)!important;
    } 
    /* tfoot {
        background-color: rgb(172, 209, 241)!important;
     }  */


.combobox-long{
    text-align: center;
    background-color: #e1eafa;
    margin-left: .2em;
    width: 10em; 
    border-radius: .3em;    
}